<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="untitled-page flex flex-col bg-white w-[1440px] h-[8329px] overflow-hidden min-h-[8329px]">
      /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
      <section
        class="flex flex-col w-[1440px] h-[712px] absolute left-0 right-0 top-[158px] bottom-[7459px] min-h-[712px]"
      >
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <h3
          class="subtitle font-medium text-[20px] leading-[1.6] font-Montserrat text-white w-[1009px] h-8 absolute left-[118px] right-[313px] top-[250px] bottom-[430px]"
        >
          Open the Door to Endless Opportunities through Our Extensive software solutions for you business.
        </h3>
        <div
          class="bg-[rgb(255,60,0)] rounded-[31.5px] w-[215px] h-[63px] absolute left-[118px] right-[1107px] top-[334px] bottom-[315px]"
        ></div>
        <img
          class="w-5 h-5 absolute left-[299px] right-[1121px] top-[356px] bottom-[336px]"
          src="/assets/cf5f32e16053d76a248afa38c79ec68e.png"
          alt="alt text"
        /><img
          class="w-[88px] h-[88px] absolute left-[1002px] right-[350px] top-[182px] bottom-[442px]"
          src="/assets/d31c28eeb7fd639011209b3dee42a097.png"
          alt="alt text"
        /><img
          class="w-[124px] h-[124px] absolute left-[984px] right-[332px] top-[164px] bottom-[424px]"
          src="/assets/6d1a71008c00257f851b2af4e902aac8.png"
          alt="alt text"
        /><img
          class="w-40 h-40 absolute left-[966px] right-[314px] top-[146px] bottom-[406px]"
          src="/assets/67e26bb2a74e7347ae87ac2557f6f5a3.png"
          alt="alt text"
        />
        <h1 class="w-[1250px] h-[93px] absolute left-[118px] right-[72px] top-[126px] bottom-[493px]">
          <span class="title font-normal text-[33px] leading-[1.12] font-Poppins text-black"
            ><span class="text-white">secure &amp; it service<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-white"
              >Reliable it solution </span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-[rgb(255,60,0)]"
              >partner</span
            ></span
          >
        </h1>
        <hr class="bg-white w-auto h-px absolute left-[120px] right-[435px] top-[226px] bottom-[485px]" size="1" />
        <div
          class="flex flex-col bg-white rounded-2xl w-[361px] h-[157px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[121px] right-[958px] top-[519px] bottom-9 min-h-[157px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/
          <h3
            class="font-bold text-[20px] leading-none font-Poppins text-[rgb(65,77,85)] w-[145px] h-10 absolute left-[110px] right-[106px] top-11 bottom-[73px]"
          >
            Digital Marketing
          </h3>
          <p
            class="font-medium text-sm font-Poppins text-[rgb(105,109,110)] w-[293px] h-10 absolute left-[39px] right-[29px] top-[95px] bottom-[22px]"
          >
            Convert target audiences for measurable growth with marketing strategies.
          </p>
        </div>
        <div
          class="flex flex-col bg-white rounded-2xl w-[362px] h-[157px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[525px] right-[553px] top-[519px] bottom-9 min-h-[157px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/
          <h3
            class="font-bold text-[20px] leading-none font-Poppins text-[rgb(65,77,85)] w-[142px] h-10 absolute left-28 right-[108px] top-[43px] bottom-[74px]"
          >
            Creative Consultant<br />
          </h3>
          <p
            class="font-medium text-sm font-Poppins text-[rgb(105,109,110)] w-[299px] h-10 absolute left-10 right-[23px] top-[95px] bottom-[22px]"
          >
            Fuel brands with imaginative brilliance to create unforgettable experiences.
          </p>
        </div>
        <div
          class="flex flex-col bg-white rounded-2xl w-[361px] h-[157px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[930px] right-[149px] top-[519px] bottom-9 min-h-[157px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/
          <h3
            class="font-bold text-[20px] leading-none font-Poppins text-[rgb(65,77,85)] w-[170px] h-10 absolute left-[111px] right-24 top-11 bottom-[73px]"
          >
            Product Development
          </h3>
          <p
            class="font-medium text-sm font-Poppins text-[rgb(105,109,110)] w-[287px] h-10 absolute left-[37px] right-[37px] top-[95px] bottom-[22px]"
          >
            Create &amp; refine products that resonate with customers and drive success.
          </p>
        </div>
        <div
          class="bg-[rgb(40,167,69)] rounded-[27.5px] w-[55px] h-[55px] absolute left-40 right-[1225px] top-[553px] bottom-[104px]"
        ></div>
        <div
          class="bg-[rgb(40,167,69)] rounded-[27.5px] w-[55px] h-[55px] absolute left-[565px] right-[820px] top-[553px] bottom-[104px]"
        ></div>
        <div
          class="bg-[rgb(40,167,69)] rounded-[27.5px] w-[55px] h-[55px] absolute left-[970px] right-[415px] top-[553px] bottom-[104px]"
        ></div>
        <img
          class="w-8 h-9 absolute left-[171px] right-[1237px] top-[562px] bottom-[114px]"
          src="/assets/66b5d97cc47bccca17b092a561baecab.png"
          alt="alt text"
        /><img
          class="w-8 h-[33px] absolute left-[576px] right-[832px] top-[564px] bottom-[115px]"
          src="/assets/9d820e7e7d61743b0e24ad1a9e95b360.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[983px] right-[428px] top-[565px] bottom-[117px]"
          src="/assets/e1127eb8c2b34338b9e8d610d5e76c55.png"
          alt="alt text"
        />
      </section>

      <div class="flex flex-col w-[1440px] h-[38px] absolute left-0 right-0 top-0 bottom-[8291px]">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <div class="bg-white w-[17px] h-4 absolute left-[119px] right-[1304px] top-[19px] bottom-[3px]"></div>
        <div
          class="flex items-center font-normal text-[12px] leading-tight font-Montserrat text-white w-[125px] h-[15px] absolute left-[143px] right-[1172px] top-[19px] bottom-1"
        >
          Low Price Guarantee
        </div>
        <div class="bg-white w-[17px] h-4 absolute left-[286px] right-[1137px] top-[19px] bottom-[3px]"></div>
        <div
          class="flex items-center font-normal text-[12px] leading-tight font-Montserrat text-white w-[156px] h-[15px] absolute left-[310px] right-[974px] top-[19px] bottom-1"
        >
          30 Days Online Returns    
        </div>
        <div class="bg-white w-[17px] h-4 absolute left-[469px] right-[954px] top-[19px] bottom-[3px]"></div>
        <div
          class="flex items-center font-normal text-[12px] leading-tight font-Montserrat text-white w-[114px] h-[15px] absolute left-[493px] right-[833px] top-5 bottom-[3px]"
        >
          Standard Shipping
        </div>
        <div
          class="flex items-center font-normal text-[12px] leading-tight font-Montserrat text-white w-[130px] h-[15px] absolute left-[82px] right-[1228px] top-[19px] bottom-1"
        >
          info@vsjinfotech.com
        </div>
        <img
          class="w-[13px] h-2 absolute left-[61px] right-[1366px] top-[19px] bottom-[11px]"
          src="/assets/2b002197c2b418bf31d44e2603052059.png"
          alt="alt text"
        /><img
          class="w-44 h-[18px] absolute left-[1134px] right-[130px] top-5 bottom-0"
          src="/assets/0d9edbd27a23991b16f600b880a4741d.png"
          alt="alt text"
        />
      </div>
      <section class="flex flex-col w-[1440px] h-[158px] absolute left-0 right-0 top-0 bottom-[8171px]">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <h5
          class="flex items-center font-medium text-[16px] leading-tight font-Montserrat text-[rgb(2,5,60)] w-[50px] h-5 absolute left-[399px] right-[991px] top-[89px] bottom-[49px]"
        >
          Home
        </h5>
        <h5
          class="flex items-center font-medium text-[16px] leading-tight font-Montserrat text-[rgb(2,5,60)] w-[51px] h-5 absolute left-[473px] right-[916px] top-[89px] bottom-[49px]"
        >
          About
        </h5>
        <h5
          class="flex items-center font-medium text-[16px] leading-tight font-Montserrat text-[rgb(2,5,60)] w-[67px] h-5 absolute left-[547px] right-[826px] top-[89px] bottom-[49px]"
        >
          Services
        </h5>
        <h5
          class="flex items-center font-medium text-[16px] leading-tight font-Montserrat text-[rgb(2,5,60)] w-[67px] h-5 absolute left-[640px] right-[733px] top-[89px] bottom-[49px]"
        >
          Projects
        </h5>
        <h5
          class="flex items-center font-medium text-[16px] leading-tight font-Montserrat text-[rgb(2,5,60)] w-24 h-5 absolute left-[730px] right-[630px] top-[89px] bottom-[49px]"
        >
          Our Team
        </h5>
        <img
          class="w-9 h-[37px] absolute left-[996px] right-[408px] top-24 bottom-[41px]"
          src="/assets/a44c82084024fcd8f17b24ea42560767.png"
          alt="alt text"
        />
        <div
          class="bg-[rgb(40,167,69)] rounded-[18.5px] w-[146px] h-[37px] absolute left-[1050px] right-[244px] top-24 bottom-[41px]"
        ></div>
        <h5
          class="flex items-center font-medium text-base font-Poppins text-white w-[122px] h-6 absolute left-[1061px] right-[257px] top-[86px] bottom-12"
        >
          Get Consultant
        </h5>
        <div
          class="bg-white rounded-[18.5px] outline outline-[rgb(40,167,69)] outline-[3px] outline-offset-[-3px] w-[96px] h-[37px] absolute left-[1214px] right-[130px] top-24 bottom-[41px]"
        ></div>
        <h5
          class="flex items-center font-medium text-base font-Poppins text-[rgb(40,167,69)] w-[66px] h-6 absolute left-[1231px] right-[143px] top-[85px] bottom-[49px]"
        >
          Contact
        </h5>
        <img
          class="w-[120px] h-[57px] absolute left-[119px] right-[1201px] top-[70px] bottom-[31px]"
          src="/assets/5533931d48c7e707b2f9477db2dc0e0e.png"
          alt="alt text"
        />
      </section>

      <section
        class="flex flex-col bg-white w-[1440px] h-[1024px] absolute left-0 right-0 top-[870px] bottom-[6435px] min-h-[1024px]"
      >
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <h1
          class="flex justify-center w-[567px] h-[93px] absolute left-[437px] right-[436px] top-[85px] bottom-[846px]"
        >
          <span class="font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">What our offer<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-[rgb(40,167,69)]"
              >IT Service Solutions</span
            ></span
          >
        </h1>
        <p
          class="flex justify-center font-medium text-[12px] leading-normal font-Poppins text-black text-center w-[521px] h-[18px] absolute left-[461px] right-[458px] top-[180px] bottom-[826px]"
        >
          Get our vast services with our professional experts to enhance your business growth.
        </p>
        <img
          class="w-[387px] h-[166px] absolute left-[60px] right-[993px] top-[268px] bottom-[590px]"
          src="/assets/84c2504876faab9ef07738646a992823.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[60px] right-[993px] top-[512px] bottom-[346px]"
          src="/assets/7dbca3ff10ccfb2896e943e01039b097.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[60px] right-[993px] top-[756px] bottom-[102px]"
          src="/assets/e156cfc7cd2dbd018ba9589a03f8bde3.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[524px] right-[529px] top-[268px] bottom-[590px]"
          src="/assets/a685e8c01f9b743a2796c1f6b7209ff0.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[524px] right-[529px] top-[512px] bottom-[346px]"
          src="/assets/5a004ba9c3c366415f83668237483ac6.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[524px] right-[529px] top-[756px] bottom-[102px]"
          src="/assets/79651b4083e31d8ac42fb58d912c7096.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[988px] right-[65px] top-[268px] bottom-[590px]"
          src="/assets/d95b735c15bb72270693213b4ce9a1c1.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[988px] right-[65px] top-[512px] bottom-[346px]"
          src="/assets/1421200ceb328e2dd13ee3a43e1a5092.png"
          alt="alt text"
        /><img
          class="w-[387px] h-[166px] absolute left-[988px] right-[65px] top-[756px] bottom-[102px]"
          src="/assets/3bb027632d19caabda49c27c95be64c3.png"
          alt="alt text"
        /><img
          class="w-[72px] h-[65px] absolute left-[356px] right-[1012px] top-[768px] bottom-[191px]"
          src="/assets/efc42de2ca0e9ecdba1f9698b390ff6f.png"
          alt="alt text"
        /><img
          class="w-[72px] h-[65px] absolute left-[1280px] right-[88px] top-[768px] bottom-[191px]"
          src="/assets/efc42de2ca0e9ecdba1f9698b390ff6f.png"
          alt="alt text"
        /><img
          class="w-[62px] h-20 absolute left-[820px] right-[558px] top-[280px] bottom-[680px]"
          src="/assets/ebd3bf908a9fcf75ab7d9bfa2e51ce7c.png"
          alt="alt text"
        /><img
          class="w-[65px] h-[72px] absolute left-[806px] right-[569px] top-[524px] bottom-[428px]"
          src="/assets/63958d5ba58c21cd38dddc4ac8f7534f.png"
          alt="alt text"
        /><img
          class="w-[51px] h-[52px] absolute left-[1291px] right-[98px] top-[290px] bottom-[682px]"
          src="/assets/a217c4427d7be5f1bec1543ccae03998.png"
          alt="alt text"
        />
      </section>

      <section class="flex flex-col w-[1440px] h-[696px] absolute left-0 right-0 top-[1894px] bottom-[5739px]">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <h1
          class="flex justify-center w-[704px] h-[148px] absolute left-[673px] right-[63px] top-[191px] bottom-[357px]"
        >
          <span class="title11 font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">WHY CHOOSE US<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-white"
              >Best Way To Get Perfect<br />IT Solutions</span
            ></span
          >
        </h1>
        <h5
          class="flex justify-center font-medium text-base font-Poppins text-white text-center w-[577px] h-36 absolute left-[732px] right-[131px] top-[375px] bottom-[177px]"
        >
          We keep abreast of the latest trends and technologies to deliver cutting-edge solutions that meet the needs of
          our clients. Our 12 years expert professionals are well-versed in the latest programming languages,
          frameworks, and tools and have a proven track record of delivering high-quality solutions on time and within
          budget. Consult us for user-friendly software solution.
        </h5>
      </section>

      <section
        class="flex flex-col bg-white w-[1440px] h-[1024px] absolute left-0 right-0 top-[2590px] bottom-[4715px] min-h-[1024px]"
      >
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <div
          class="bg-[rgb(40,167,69)] rounded-[19px] outline outline-[rgb(40,167,69)] outline-1 w-[120px] h-[38px] absolute left-[143px] right-[1177px] top-[625px] bottom-[361px]"
        ></div>
        <div
          class="bg-[rgba(0,0,0,0)] rounded-[19px] outline outline-[rgb(255,60,0)] outline-1 w-[132px] h-[38px] absolute left-[292px] right-[1016px] top-[625px] bottom-[361px]"
        ></div>
        <h5
          class="font-semibold text-base font-Poppins text-[rgb(255,60,0)] w-[104px] h-6 absolute left-[303px] right-[1033px] top-[631px] bottom-[369px]"
        >
          CONTACT US
        </h5>
        <img
          class="w-[1440px] h-[1024px] absolute left-0 right-0 top-0 bottom-0"
          src="/assets/f19b3464bffcfa1e0aeef62cb65691e5.png"
          alt="alt text"
        /><img
          class="w-[69px] h-[396px] absolute left-[51px] right-[1320px] top-[390px] bottom-[238px]"
          src="/assets/c8b606dd5595b0eba9f69d41e4806dad.png"
          alt="alt text"
        /><img
          class="w-5 h-[19px] absolute left-[78px] right-[1342px] top-[704px] bottom-[301px]"
          src="/assets/d93921e5450dfe467c99d65186d0d759.png"
          alt="alt text"
        /><img
          class="w-5 h-[19px] absolute left-[78px] right-[1342px] top-[776px] bottom-[229px]"
          src="/assets/d93921e5450dfe467c99d65186d0d759.png"
          alt="alt text"
        /><img
          class="w-5 h-[19px] absolute left-[78px] right-[1342px] top-[634px] bottom-[371px]"
          src="/assets/d93921e5450dfe467c99d65186d0d759.png"
          alt="alt text"
        /><img
          class="w-5 h-[19px] absolute left-[78px] right-[1342px] top-[518px] bottom-[487px]"
          src="/assets/d93921e5450dfe467c99d65186d0d759.png"
          alt="alt text"
        /><img
          class="w-10 h-10 absolute left-[68px] right-[1332px] top-[401px] bottom-[583px]"
          src="/assets/ea7cb372cb15a5746971072e240b37e1.png"
          alt="alt text"
        /><img
          class="w-[33px] h-[43px] absolute left-[143px] right-[1264px] top-[692px] bottom-[289px]"
          src="/assets/946962fe5960e00cc32e8e339a426d10.png"
          alt="alt text"
        />
        <h1
          class="font-semibold text-[45px] leading-[1.51] font-Poppins text-[rgb(40,167,69)] w-[261px] h-[68px] absolute left-36 right-[1035px] top-[390px] bottom-[566px]"
        >
          TAMILNADU
        </h1>
        <p
          class="font-semibold text-[14px] leading-normal font-Poppins text-black w-[307px] h-[84px] absolute left-36 right-[989px] top-[513px] bottom-[427px]"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry&#x27;s<br />Read More ...<br />
        </p>
        <h5
          class="font-semibold text-base font-Poppins text-white w-[87px] h-6 absolute left-[156px] right-[1197px] top-[631px] bottom-[369px]"
        >
          MORE INFO
        </h5>
        <div
          class="font-semibold text-[14px] leading-normal font-Poppins text-black w-[158px] h-[21px] absolute left-[178px] right-[1104px] top-[703px] bottom-[300px]"
        >
          Nadukani , Tamilnadu
        </div>
        <h5
          class="font-medium text-base font-Poppins text-black w-[1184px] h-[96px] absolute left-[86px] right-[170px] top-[805px] bottom-[123px]"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry&#x27;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        </h5>
        <img
          class="w-[945px] h-[518px] absolute left-[495px] right-0 top-[253px] bottom-[253px]"
          src="/assets/3b22733ef6b8eeb5336bd1eed22fa7ec.png"
          alt="alt text"
        />
        <h1
          class="flex justify-center w-[567px] h-[93px] absolute left-[437px] right-[436px] top-[82px] bottom-[849px]"
        >
          <span class="font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">MEET OUR TEAM MEMBER<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-[rgb(40,167,69)]"
              >Our Leadership Team</span
            ></span
          >
        </h1>
        <img
          class="w-[945px] h-[518px] absolute left-[495px] right-0 top-[252px] bottom-[254px]"
          src="/assets/d01e3452f12405b1049401e4c6e44187.png"
          alt="alt text"
        />
      </section>

      <section
        class="flex flex-col bg-[rgb(2,5,60)] w-[1440px] h-[1110px] absolute left-0 right-0 top-[3614px] bottom-[3605px] min-h-[1110px]"
      >
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
        editor.*/<img
          class="w-2.5 h-[186px] absolute left-[603px] right-[827px] top-[452px] bottom-[472px]"
          src="/assets/cae4632052e96a74c54d3f4a0dff64c7.png"
          alt="alt text"
        /><img
          class="w-2.5 h-[149px] absolute left-[826px] right-[604px] top-[647px] bottom-[314px]"
          src="/assets/5fc4aca926959fce5008a8177dfde7dd.png"
          alt="alt text"
        /><img
          class="w-2.5 h-[186px] absolute left-[156px] right-[1274px] top-[452px] bottom-[472px]"
          src="/assets/cae4632052e96a74c54d3f4a0dff64c7.png"
          alt="alt text"
        /><img
          class="w-2.5 h-[164px] absolute left-[379px] right-[1051px] top-[626px] bottom-80"
          src="/assets/3bbaded8dfa8c89855d61a2f86849f41.png"
          alt="alt text"
        /><img
          class="w-2.5 h-[186px] absolute left-[1049px] right-[381px] top-[461px] bottom-[463px]"
          src="/assets/cae4632052e96a74c54d3f4a0dff64c7.png"
          alt="alt text"
        /><img
          class="w-2.5 h-[163px] absolute left-[1272px] right-[158px] top-[640px] bottom-[307px]"
          src="/assets/e5e79b0cbb805d69c525080f4f4e9a71.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[147px] right-[1264px] top-[514px] bottom-[566px]"
          src="/assets/e5ccf5b15744f6eaf8f215c1de7261f8.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[370px] right-[1041px] top-[710px] bottom-[370px]"
          src="/assets/e5ccf5b15744f6eaf8f215c1de7261f8.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[594px] right-[817px] top-[514px] bottom-[566px]"
          src="/assets/e5ccf5b15744f6eaf8f215c1de7261f8.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[1040px] right-[371px] top-[514px] bottom-[566px]"
          src="/assets/e5ccf5b15744f6eaf8f215c1de7261f8.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[30px] absolute left-[817px] right-[594px] top-[710px] bottom-[370px]"
          src="/assets/e5ccf5b15744f6eaf8f215c1de7261f8.png"
          alt="alt text"
        /><img
          class="w-[29px] h-[29px] absolute left-[1263px] right-[148px] top-[711px] bottom-[370px]"
          src="/assets/60e5ba5c4f058394fee5db2180b133d8.png"
          alt="alt text"
        />
        <div
          class="bg-white rounded-[54px] w-[376px] h-[294px] absolute left-[82px] right-[982px] top-[236px] bottom-[580px]"
        ></div>
        <img
          class="w-[348px] h-[73px] absolute left-[122px] right-[970px] top-[276px] bottom-[761px]"
          src="/assets/eb7bfbd1f1ea15dee6ec279efb218b5d.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-56 h-[29px] absolute left-[122px] right-[1094px] top-[357px] bottom-[724px]"
        >
          Competitive Rates
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[319px] h-[96px] absolute left-[122px] right-[999px] top-[393px] bottom-[621px]"
        >
          Adaptação para diferentes tamanhos de tela, seja para Celular, Tablet e Desktop, proporcionando uma
          experiência ao usuário
        </h5>
        <div
          class="bg-white rounded-[54px] w-[376px] h-[294px] absolute left-[82px] right-[982px] top-[725px] bottom-[91px]"
        ></div>
        <img
          class="w-[347px] h-[73px] absolute left-[122px] right-[971px] top-[765px] bottom-[272px]"
          src="/assets/9e48bc710eeae0d2761be3625792ec72.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-[200px] h-[29px] absolute left-[122px] right-[1118px] top-[846px] bottom-[235px]"
        >
          Business Growth
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[308px] h-[96px] absolute left-[122px] right-[1010px] top-[894px] bottom-[120px]"
        >
          Adaptação para diferentes tamanhos de tela, seja para Celular, Tablet e Desktop,proporcionando uma experiência
          ao usuário<br />
        </h5>
        <div
          class="bg-white rounded-[54px] w-[379px] h-[294px] absolute left-[529px] right-[532px] top-[236px] bottom-[580px]"
        ></div>
        <img
          class="w-[346px] h-[73px] absolute left-[569px] right-[525px] top-[276px] bottom-[761px]"
          src="/assets/ba2d14afce65c2cec8559d0df16ebd5a.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-[249px] h-[29px] absolute left-[569px] right-[622px] top-[357px] bottom-[724px]"
        >
          Customized Solution
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[325px] h-[96px] absolute left-[569px] right-[546px] top-[405px] bottom-[609px]"
        >
          Adaptação para diferentes tamanhos de tela, seja para Celular, Tablet e Desktop, proporcionando uma
          experiência ao usuário<br />
        </h5>
        <div
          class="bg-white rounded-[54px] w-[376px] h-[294px] absolute left-[529px] right-[535px] top-[725px] bottom-[91px]"
        ></div>
        <img
          class="w-[346px] h-[73px] absolute left-[569px] right-[525px] top-[765px] bottom-[272px]"
          src="/assets/ba2d14afce65c2cec8559d0df16ebd5a.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-[279px] h-[29px] absolute left-[569px] right-[592px] top-[846px] bottom-[235px]"
        >
          Powerful Terminal lines
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[308px] h-[96px] absolute left-[569px] right-[563px] top-[882px] bottom-[132px]"
        >
          Adaptação para diferentes tamde tela, seja para Celular, Tablet e Desktop, ando uma experiência ao usuário
          consistent.
        </h5>
        <div
          class="bg-white rounded-[54px] w-[376px] h-[294px] absolute left-[975px] right-[89px] top-[236px] bottom-[580px]"
        ></div>
        <img
          class="w-[347px] h-[73px] absolute left-[1015px] right-[78px] top-[276px] bottom-[761px]"
          src="/assets/9e48bc710eeae0d2761be3625792ec72.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-[232px] h-[29px] absolute left-[1015px] right-[193px] top-[357px] bottom-[724px]"
        >
          Innovation Projects
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[323px] h-[96px] absolute left-[1015px] right-[102px] top-[405px] bottom-[609px]"
        >
          Adaptação para diferentes tamanhos de tela, seja para Celular, Tablet e Desktop, proporcionando uma
          experiência ao usuário<br />
        </h5>
        <div
          class="bg-white rounded-[54px] w-[376px] h-[294px] absolute left-[975px] right-[89px] top-[725px] bottom-[91px]"
        ></div>
        <img
          class="w-[347px] h-[73px] absolute left-[1015px] right-[78px] top-[765px] bottom-[272px]"
          src="/assets/9e48bc710eeae0d2761be3625792ec72.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-medium text-[24px] leading-[1.19] font-Poppins text-[rgb(255,60,0)] w-[219px] h-[29px] absolute left-[1015px] right-[206px] top-[846px] bottom-[235px]"
        >
          Best Tech Support
        </h2>
        <h5
          class="flex items-center font-normal text-base font-Poppins text-[rgb(5,6,6)] w-[294px] h-[96px] absolute left-[1015px] right-[131px] top-[894px] bottom-[120px]"
        >
          Adaptação para diferentes tamanhos de tela, seja para Celular, Tablet e Desktop, proporcionando uma
          experiência ao usuário<br />
        </h5>
        <img
          class="w-[1150px] h-[29px] absolute left-36 right-[146px] top-[620px] bottom-[461px]"
          src="/assets/47a13e8e84ab7956f9f7dc208c1919d9.png"
          alt="alt text"
        />
        <h1
          class="flex justify-center w-[434px] h-[93px] absolute left-[503px] right-[503px] top-[92px] bottom-[925px]"
        >
          <span class="title11 font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">OUR STRATEGY<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-white"
              >Main Principles</span
            ></span
          >
        </h1>
      </section>

      <section class="flex flex-col w-[1440px] h-[1030px] absolute left-0 right-0 top-[4724px] bottom-[2575px]">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <div class="bg-white w-[1440px] h-[1024px] absolute left-0 right-0 top-1.5 bottom-0"></div>
        <img
          class="w-[1440px] h-[348px] absolute left-0 right-0 top-[424px] bottom-[258px]"
          src="/assets/d3c20fd4e47051254d521319a0044ff0.png"
          alt="alt text"
        /><img
          class="w-[765px] h-[754px] absolute left-[59px] right-[616px] top-[219px] bottom-[57px]"
          src="/assets/b309d1fd18e6087f099c6a34f1e8f443.png"
          alt="alt text"
        />
        <h1
          class="font-bold text-[40px] leading-normal font-Poppins text-white w-[294px] h-[60px] absolute left-[947px] right-[199px] top-[497px] bottom-[473px]"
        >
          Elsa Weimann
        </h1>
        <h4
          class="font-semibold text-[18px] leading-normal font-Poppins text-[rgb(2,5,60)] w-[254px] h-[27px] absolute left-[947px] right-[239px] top-[562px] bottom-[441px]"
        >
          Central Accounts Strategist
        </h4>
        <h5
          class="font-medium text-[16px] leading-[1.62] font-Manrope text-white w-[407px] h-[78px] absolute left-[947px] right-[86px] top-[619px] bottom-[333px]"
        >
          &quot;VSJ is the ultimate partner for top-tier software solutions. Their meticulous attention to detail and
          punctual delivery left a remarkable impression.&quot;
        </h5>
        <h2
          class="font-extrabold text-[24px] leading-[1.37] font-Manrope text-[rgb(255,60,0)] w-[275px] h-[33px] absolute left-[711px] right-[454px] top-[909px] bottom-[88px]"
        >
          Frederick Crona
        </h2>
        <h2
          class="font-extrabold text-[24px] leading-[1.37] font-Manrope text-[rgb(255,60,0)] w-[175px] h-[33px] absolute left-[711px] right-[554px] top-[255px] bottom-[742px]"
        >
          Jack Kutch
        </h2>
        <h1
          class="flex justify-center w-[475px] h-[93px] absolute left-[483px] right-[482px] top-[71px] bottom-[866px]"
        >
          <span class="font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">Testimonial<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-[rgb(40,167,69)]"
              >What Client Say?</span
            ></span
          >
        </h1>
      </section>

      <section class="flex flex-col w-[1440px] h-[1080px] absolute left-0 right-0 top-[5754px] bottom-[1495px]">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <h1
          class="flex justify-center w-[774px] h-[93px] absolute left-[330px] right-[336px] top-[141px] bottom-[846px]"
        >
          <span class="font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">FAQ<br /></span
            ><span class="font-bold text-[1.4848484848484849em] leading-[1.12] text-[rgb(40,167,69)]"
              >Frequently Asked Questions</span
            ></span
          >
        </h1>
        <div
          class="bg-white rounded-[48px] outline outline-[rgb(40,167,69)] outline-[9px] outline-offset-[-9px] w-[1088px] h-[169px] absolute left-[162px] right-[190px] top-[424px] bottom-[487px]"
        ></div>
        <h2
          class="flex items-center font-semibold text-2xl font-Poppins text-[rgba(0,0,0,0.8)] tracking-[-0.72px] w-[745px] h-8 absolute left-[202px] right-[493px] top-[453px] bottom-[595px]"
        >
           Why choose VSJ Infotech for your software development needs?
        </h2>
        <h5
          class="font-normal text-base font-Poppins text-[rgba(0,0,0,0.8)] w-[961px] h-12 absolute left-[207px] right-[272px] top-[504px] bottom-[528px]"
        >
          At VSJ Infotech, we stand out due to our expertise in the latest technologies, tailored solutions, innovative
          mind-set, and years of experience, client-focused approach, quality assurance, timely delivery, and ongoing
          support.
        </h5>
        <div
          class="bg-white rounded-[45px] outline outline-[rgb(40,167,69)] outline-[9px] outline-offset-[-9px] w-[1088px] h-[90px] absolute left-[162px] right-[190px] top-[609px] bottom-[381px]"
        ></div>
        <h2
          class="flex items-center font-semibold text-2xl font-Poppins text-[rgba(0,0,0,0.6)] tracking-[-0.72px] w-[450px] h-8 absolute left-[202px] right-[788px] top-[638px] bottom-[410px]"
        >
          What is the experience of VSJ Infotech?
        </h2>
        <div
          class="bg-white rounded-[45px] outline outline-[rgb(40,167,69)] outline-[9px] outline-offset-[-9px] w-[1088px] h-[90px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.247)] absolute left-[162px] right-[190px] top-[715px] bottom-[275px]"
        ></div>
        <img
          class="w-[30px] h-[30px] absolute left-[1177px] right-[233px] top-[453px] bottom-[597px]"
          src="/assets/0b4011c40840f0b6de4268d690061dd2.png"
          alt="alt text"
        /><img
          class="w-2.5 h-5 absolute left-[1207px] right-[223px] top-[846px] bottom-[214px]"
          src="/assets/16e79a4af777702a41a6fde737b09671.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-semibold text-2xl font-Poppins text-[rgba(0,0,0,0.6)] tracking-[-0.72px] w-[744px] h-8 absolute left-[202px] right-[494px] top-[744px] bottom-[304px]"
        >
          How is VSJ Infotech different from others based on technologies?
        </h2>
        <div
          class="bg-white rounded-[45px] outline outline-[rgb(40,167,69)] outline-[9px] outline-offset-[-9px] w-[1088px] h-[90px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.247)] absolute left-[162px] right-[190px] top-[821px] bottom-[169px]"
        ></div>
        <img
          class="w-[30px] h-[30px] absolute left-[1177px] right-[233px] top-[851px] bottom-[199px]"
          src="/assets/712e5327956eb8b4d86757731084df91.png"
          alt="alt text"
        /><img
          class="w-[30px] h-[30px] absolute left-[1177px] right-[233px] top-[639px] bottom-[411px]"
          src="/assets/712e5327956eb8b4d86757731084df91.png"
          alt="alt text"
        /><img
          class="w-[30px] h-[30px] absolute left-[1177px] right-[233px] top-[745px] bottom-[305px]"
          src="/assets/712e5327956eb8b4d86757731084df91.png"
          alt="alt text"
        />
        <h2
          class="flex items-center font-semibold text-2xl font-Poppins text-[rgba(0,0,0,0.6)] tracking-[-0.72px] w-[700px] h-8 absolute left-[202px] right-[538px] top-[850px] bottom-[198px]"
        >
          What are the key points that define VSJ Infotech&#x27;s approach?
        </h2>
        <div
          class="bg-white rounded-[0px_20px_20px_0px] outline outline-[rgb(255,60,0)] outline-[44px] outline-offset-[-44px] w-[179px] h-[70px] absolute left-[1071px] right-[190px] top-[300px] bottom-[710px]"
        ></div>
        <h1
          class="flex items-center font-semibold text-[32px] leading-none font-Poppins text-white tracking-[-0.96px] w-[116px] h-8 absolute left-[1100px] right-56 top-[319.5px] bottom-[728.5px]"
        >
          Search
        </h1>
        <div
          class="bg-white rounded-[20px_0px_0px_20px] outline outline-[rgb(255,60,0)] outline-[7px] outline-offset-[-7px] w-[909px] h-[70px] absolute left-[162px] right-[369px] top-[300px] bottom-[710px]"
        ></div>
        <h5
          class="flex items-center font-normal text-[16px] leading-loose font-Poppins text-black tracking-[-0.48px] w-[216px] h-8 absolute left-[206px] right-[1018px] top-[319px] bottom-[729px]"
        >
          Search for your questions .......
        </h5>
      </section>

      <section
        class="flex flex-col bg-white w-[1440px] h-[928px] absolute left-0 right-0 top-[6834px] bottom-[567px] min-h-[928px]"
      >
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
        editor.*/<img
          class="w-[1440px] h-[891px] absolute left-0 right-0 top-[37px] bottom-0"
          src="/assets/3f05d548c3d1032c951f36665373f3bb.png"
          alt="alt text"
        />
        <h1
          class="flex justify-center w-[708px] h-[93px] absolute left-[366px] right-[366px] top-[78px] bottom-[757px]"
        >
          <span class="font-semibold text-[33px] leading-[1.12] font-Poppins text-black text-center"
            ><span class="font-semibold text-[rgb(255,60,0)]">Latest Blog posts<br /></span
            ><span class="font-extrabold text-[1.4848484848484849em] leading-[1.12] text-[rgb(40,167,69)]"
              >Read our latest insights.</span
            ></span
          >
        </h1>
        <div
          class="flex flex-col w-[408px] h-[477px] absolute left-[72px] right-[960px] top-[303px] bottom-[148px] min-h-[477px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/
          <div
            class="bg-white rounded-[36px] outline outline-[rgb(255,60,0)] outline-[5px] outline-offset-[-5px] w-[401px] h-[477px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[7px] right-0 top-0 bottom-0"
          ></div>
          <img
            class="w-[15px] h-[15px] absolute left-[151px] right-[242px] top-[377px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[171px] right-[222px] top-[377px] bottom-[85px]"
            src="/assets/68e6acd2cbdbd24b45631512205b27f9.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[190px] right-[203px] top-[377px] bottom-[85px]"
            src="/assets/c03a7288fcf29b13c187488278c91ce8.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[210px] right-[183px] top-[377px] bottom-[85px]"
            src="/assets/663183c1f8d35b461dabb33e3fc7d6c9.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[229px] right-[164px] top-[377px] bottom-[85px]"
            src="/assets/d86bc1af082ef7747172b701a33ee4c0.png"
            alt="alt text"
          />
          <h2
            class="flex justify-center font-bold text-[25px] leading-[1.15] font-Poppins text-[rgb(65,77,85)] text-center tracking-[1px] w-[185px] h-[58px] absolute left-[105px] right-[118px] top-[307px] bottom-28"
          >
            What are the <br />checklist
          </h2>
          <div
            class="font-medium text-sm font-Roboto text-[rgb(255,60,0)] tracking-[0.41px] w-[123px] h-5 absolute left-[135px] right-[150px] top-[278px] bottom-[179px]"
          >
            BUSINESS / NEWS
          </div>
        </div>
        <div
          class="bg-[rgb(255,60,0)] rounded-[21.5px] w-[287px] h-[43px] absolute left-[132px] right-[1021px] top-[712px] bottom-[173px]"
        ></div>
        <div
          class="font-extrabold text-[14px] leading-[1.21] font-Montserrat text-white w-[92px] h-[17px] absolute left-[219px] right-[1129px] top-[729px] bottom-[182px]"
        >
          READ MORE
        </div>
        <img
          class="w-3.5 h-3.5 absolute left-[319px] right-[1107px] top-[727px] bottom-[187px]"
          src="/assets/e7b4776b18606193c83c34bee2fa97ce.png"
          alt="alt text"
        />
        <div
          class="flex flex-col bg-white rounded-[36px] outline outline-[rgb(255,60,0)] outline-[5px] outline-offset-[-5px] w-[401px] h-[428px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[967px] right-[72px] top-[352px] bottom-[148px] min-h-[428px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/<img
            class="w-[15px] h-[15px] absolute left-[159px] right-[227px] top-[328px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[178px] right-52 top-[328px] bottom-[85px]"
            src="/assets/e0cd98460dc68b9cbd2fe27e11b9f586.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[197px] right-[189px] top-[328px] bottom-[85px]"
            src="/assets/17428bfd62d3fcf522c34aeb0254155b.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[216px] right-[170px] top-[328px] bottom-[85px]"
            src="/assets/b6adf274162a16767fb224ea6100c371.png"
            alt="alt text"
          /><img
            class="w-[15px] h-[15px] absolute left-[235px] right-[151px] top-[328px] bottom-[85px]"
            src="/assets/6d1a33813253f82926527f7f1c6f3745.png"
            alt="alt text"
          />
          <h2
            class="flex justify-center font-bold text-[25px] leading-[1.15] font-Poppins text-[rgb(65,77,85)] text-center tracking-[1px] w-[185px] h-[58px] absolute left-[111px] right-[105px] top-[258px] bottom-28"
          >
            What are the <br />checklist
          </h2>
          <div
            class="font-medium text-sm font-Roboto text-[rgb(255,60,0)] tracking-[0.41px] w-[123px] h-5 absolute left-[143px] right-[135px] top-[229px] bottom-[179px]"
          >
            BUSINESS / NEWS
          </div>
        </div>
        <div
          class="bg-[rgb(255,60,0)] rounded-[21.5px] w-[287px] h-[43px] absolute left-[1027px] right-[126px] top-[712px] bottom-[173px]"
        ></div>
        <div
          class="font-extrabold text-[14px] leading-[1.21] font-Montserrat text-white w-[92px] h-[17px] absolute left-[1114px] right-[234px] top-[729px] bottom-[182px]"
        >
          READ MORE
        </div>
        <img
          class="w-3.5 h-3.5 absolute left-[1214px] right-[212px] top-[727px] bottom-[187px]"
          src="/assets/e7b4776b18606193c83c34bee2fa97ce.png"
          alt="alt text"
        />
        <div
          class="flex flex-col w-[465px] h-[488px] absolute left-[494px] right-[481px] top-[292px] bottom-[148px] min-h-[488px]"
        >
          /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode
          editor.*/
          <div
            class="bg-white rounded-[36px] outline outline-[rgb(255,60,0)] outline-[5px] outline-offset-[-5px] w-[401px] h-[488px] shadow-[0px_1px_8px_0px_rgba(110,110,110,0.098)] absolute left-[29px] right-[35px] top-0 bottom-0"
          ></div>
          <img
            class="w-[18px] h-[15px] absolute left-[178px] right-[269px] top-[388px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[18px] h-[15px] absolute left-[201px] right-[246px] top-[388px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[18px] h-[15px] absolute left-56 right-[223px] top-[388px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[18px] h-[15px] absolute left-[247px] right-[200px] top-[388px] bottom-[85px]"
            src="/assets/ae22bf064939bb1f31f70f204095bade.png"
            alt="alt text"
          /><img
            class="w-[18px] h-[15px] absolute left-[270px] right-[177px] top-[388px] bottom-[85px]"
            src="/assets/7822a470b0cb34cabc87e7de933eb212.png"
            alt="alt text"
          />
          <h2
            class="flex justify-center font-bold text-[25px] leading-[1.15] font-Poppins text-[rgb(65,77,85)] text-center tracking-[1px] w-[245px] h-[58px] absolute left-[110px] right-[110px] top-[318px] bottom-28"
          >
            Project Handover <br />Checklist
          </h2>
          <div
            class="flex justify-center font-medium text-sm font-Roboto text-[rgb(255,60,0)] text-center tracking-[0.41px] w-[123px] h-5 absolute left-[171.5px] right-[170.5px] top-[289px] bottom-[179px]"
          >
            BUSINESS / NEWS
          </div>
        </div>
        <div
          class="bg-[rgb(255,60,0)] rounded-[21.5px] w-[287px] h-[43px] absolute left-[583px] right-[570px] top-[713px] bottom-[172px]"
        ></div>
        <div
          class="flex justify-center font-extrabold text-[14px] leading-[1.21] font-Montserrat text-white text-center w-[92px] h-[17px] absolute left-[670px] right-[678px] top-[730px] bottom-[181px]"
        >
          READ MORE
        </div>
        <img
          class="w-3.5 h-3.5 absolute left-[770px] right-[656px] top-[728px] bottom-[186px]"
          src="/assets/e7b4776b18606193c83c34bee2fa97ce.png"
          alt="alt text"
        /><img
          class="rounded-[36px] w-[401px] h-[300px] absolute left-[79px] right-[960px] top-[265px] bottom-[363px]"
          src="/assets/80cd206553f289c8439f9bcb0275d84a.png"
          alt="alt text"
        /><img
          class="rounded-[36px] w-[401px] h-[299px] absolute left-[523px] right-[516px] top-[265px] bottom-[364px]"
          src="/assets/50484aab07ba53129c636e8a1297c5e5.png"
          alt="alt text"
        /><img
          class="rounded-[36px] w-[401px] h-[299px] absolute left-[967px] right-[72px] top-[265px] bottom-[364px]"
          src="/assets/2f5936d70d58131c6555d11a815efbf2.png"
          alt="alt text"
        /><img
          class="w-[1440px] h-[18px] absolute left-0 right-0 top-0 bottom-[910px]"
          src="/assets/872b8107546bc327d514b1d959b8ec30.png"
          alt="alt text"
        />
      </section>

      <section class="flex flex-col w-[1440px] h-[567px] absolute left-0 right-0 top-[7762px] bottom-0">
        /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
        <div
          class="bg-[rgb(40,167,69)] w-[60px] h-[50px] absolute left-0 right-[1380px] top-[166px] bottom-[351px]"
        ></div>
        <h5 class="flex justify-center w-[325px] h-[185px] absolute left-[60px] right-[1055px] top-[238px] bottom-36">
          <span class="font-semibold text-[16px] leading-[2.31] font-Poppins text-white text-center"
            ><span class="font-semibold">VSJ Infotech Pvt Ltd:<br /></span
            ><span class="font-semibold leading-[1.56]"> </span
            ><span class="text-[0.875em] leading-[1.78]">Your Trusted Tech </span
            ><span class="text-[0.875em] leading-[2.14]">Partner in Chennai</span
            ><span class="text-[0.875em] leading-[1.78]"
              >, India. With 18 years of expertise, we offer web development, blockchain solutions, digital marketing,
              and crypto services globally.</span
            ></span
          >
        </h5>
        <img
          class="w-[179px] h-[87px] absolute left-32 right-[1133px] top-[118px] bottom-[362px]"
          src="/assets/9fcb8182a7b97009f3e82a5329174eee.png"
          alt="alt text"
        />
        <h5 class="w-[203px] h-[267px] absolute left-[436px] right-[801px] top-[118px] bottom-[182px]">
          <span class="font-semibold text-[16px] leading-[1.56] font-Poppins text-white"
            ><span class="font-semibold font-Roboto">Quick Links<br /></span
            ><span class="font-medium text-[0.875em] leading-[2.14]">Web Design<br /></span
            ><span class="font-medium text-[0.875em]"
              >Web Development<br />Blockchain Development<br />Digital Marketing<br />Crypto Solution<br />Clone
              Script<br />Crypto Token Development<br />NFT<br />Networking Software</span
            ></span
          >
        </h5>
        <h5 class="w-[274px] h-72 absolute left-[711px] right-[455px] top-[118px] bottom-[161px]">
          <span class="font-semibold text-[16px] leading-[1.56] font-Poppins text-white"
            ><span class="font-semibold">Contacts<br /></span><span class="text-[0.875em] leading-[1.2]"><br /></span
            ><span class="font-medium text-[0.875em] leading-[2.14]">Door No. 1/142, P.H.Road, </span
            ><span class="font-medium text-[0.875em]"
              >Sivapootham, Vanagaram, Chennai-95. Land mark - Near vanagaram signal.<br /><br />+91 97900 33633<br /><br />info@vsjinfotech.com<br /><br />www.vsjinfotech.com</span
            ></span
          >
        </h5>
        <img
          class="w-5 h-5 absolute left-[683px] right-[737px] top-[348px] bottom-[199px]"
          src="/assets/f65a6be654eb97d2b71ddf5effa6a7b7.png"
          alt="alt text"
        /><img
          class="w-3.5 h-5 absolute left-[686px] right-[740px] top-[150px] bottom-[397px]"
          src="/assets/ab97df32b27e535184760a03b08098fd.png"
          alt="alt text"
        /><img
          class="w-5 h-5 absolute left-[683px] right-[737px] top-[252px] bottom-[295px]"
          src="/assets/e5ebae7773dbfbb0c73315d8ceed30c5.png"
          alt="alt text"
        /><img
          class="w-5 h-4 absolute left-[684px] right-[736px] top-[302px] bottom-[249px]"
          src="/assets/b367c7f5dfd58299083afe92edf64cce.png"
          alt="alt text"
        />
        <div
          class="bg-white rounded-[0px_73px_0px_68px] w-[386px] h-[252px] absolute left-[1000px] right-[54px] top-[118px] bottom-[197px]"
        ></div>
        <p class="w-[350px] h-[84px] absolute left-[1021px] right-[69px] top-[149px] bottom-[334px]">
          <span class="font-semibold text-[14px] leading-normal font-Poppins text-black"
            ><span class="font-semibold">Join Our Newsletter <br /></span
            ><span><br />Be the first to know about our latest updates,<br />exclusive offers and more </span></span
          >
        </p>
        <div
          class="bg-white rounded-[25px_0px_0px_0px] outline outline-[rgb(255,60,0)] outline-[3px] outline-offset-[-3px] w-[300px] h-[50px] absolute left-[1046px] right-[94px] top-[260px] bottom-[257px]"
        ></div>
        <div
          class="bg-[rgb(255,60,0)] rounded-[0px_0px_17px_0px] w-[142px] h-[34px] absolute left-[1204px] right-[94px] top-[310px] bottom-[223px]"
        ></div>
        <div
          class="font-semibold text-[14px] leading-normal font-Poppins text-white w-[72px] h-[21px] absolute left-[1238px] right-[130px] top-[315px] bottom-[231px]"
        >
          Subscribe
        </div>
      </section>

    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
